{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        metosin/reitit {:mvn/version "0.5.18"}
        ring/ring-jetty-adapter {:mvn/version "1.9.6"}}
 :aliases
 {:run {:main-opts ["-m" "[[ .Name ]].core"]}}}
