package [[ .Name ]];

public class App {
    public String getGreeting() {
        return "Hello from [[ .Name ]]!";
    }

    public static void main(String[] args) {
        System.out.println(new App().getGreeting());
    }
}
