import { createSignal } from 'solid-js';
import './App.css';

function App() {
  const [count, setCount] = createSignal(0);

  return (
    <div class="App">
      <h1>[[ .Name ]]</h1>
      <div class="card">
        <button onClick={() => setCount((count) => count + 1)}>
          count is {count()}
        </button>
        <p>
          Edit <code>src/App.jsx</code> and save to test HMR
        </p>
      </div>
      <p class="read-the-docs">
        Built with Bun + Solid + JSX + Vite
      </p>
    </div>
  );
}

export default App;
