import std.stdio;
import std.getopt;

void main(string[] args)
{
	string name = "World";
	auto helpInformation = getopt(
		args,
		"name", &name
	);

	if (helpInformation.helpWanted)
	{
		defaultGetoptPrinter("[[ .Name ]] CLI tool usage:",
			helpInformation.options);
		return;
	}

	writeln("Hello, ", name, "! This is [[ .Name ]] CLI.");
}
