//> using scala 3
//> using lib "com.lihaoyi::os-lib:0.9.1"
//> using lib "com.lihaoyi::requests:0.8.0"

@main def run(): Unit =
  println("Executing [[ .Name ]] Script...")
  // Example: fetch data
  // val r = requests.get("https://api.github.com/zen")
  // println(s"Zen: ${r.text()}")
