module Main where

import Numeric.LinearAlgebra

main :: IO ()
main = do
    putStrLn "Welcome to [[ .Name ]] - AI with Haskell"
    let m = (3><3) [1..9] :: Matrix Double
    putStrLn "Sample Matrix:"
    print m
