# Package
version       = "0.1.0"
author        = "ini"
description   = "[[ .Name ]] project"
license       = "MIT"
srcDir        = "src"
bin           = @["[[ .Name ]]"]

# Dependencies
requires "nim >= 2.0.0"
