cabal-version:      3.0
name:               [[ .Name ]]
version:            0.1.0.0
license:            MIT
executable [[ .Name ]]
    main-is:          Main.hs
    build-depends:    base ^>=4.17.2.1
    hs-source-dirs:   app
    default-language: Haskell2010
