// swift-tools-version: 5.9
import PackageDescription

let package = Package(
    name: "[[ .Name ]]",
    platforms: [
        .iOS(.v17)
    ],
    products: [
        .library(name: "[[ .Name ]]", targets: ["[[ .Name ]]"]),
    ],
    targets: [
        .target(name: "[[ .Name ]]", path: "Sources"),
    ]
)
